<main class="container py-5">
  <section class="text-center mt-5">
    <i class="fas fa-exclamation-triangle text-danger d-block fs-1"></i>
  </section>
  <section class="mt-4 text-center">
    <h1>404!</h1>
    <p>
      Página não encontrada.<br>Clique <strong><a href="/" title="Início" class="text-dark">aqui</a></strong> para retornar a página inicial
    </p>
  </section>
</main>