<main class="container py-5">
  <h1 class="h3 mb-3">
    Realizar Pergunta
  </h1>
  <form class="form" method="post" action="/save_question">
    <input type="text" name="title" id="text" placeholder="Titulo" class="form-control mb-2" required>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Descreva a sua pergunta aqui" class="form-control mb-2" required></textarea>
    <div class="text-end">
      <button type="submit" class="btn btn-success btn-sm">Perguntar</button>
    </div>
  </form>
</main>